body {
    margin: 0;
}

.header {
    background: #F28BB3;
    height: 80px;
    text-align: center;
    color: #fff;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.main-wrap {
    height: 800px;
    text-align: center;
    color: #fff;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.main {
    background: #FCE9F1;
    height: 100%;
    text-align: center;
    color: #fff;
    width: 680px;
    float: left;
}

.sidebar-container {
    background: #8BF28C;
    height: 100%;
    text-align: center;
    color: #fff;
    width: 300px;
    float: left;
}

.sidebar {
    width: 270px;
    height: 150px;
    background: #8BB2F2;
    margin: 15px auto;
}

.sidebar-title {
    color: #fff;
    text-align: left;
}

.footer {
    background: #EB5264;
    height: 80px;
    text-align: center;
    color: #fff;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}